python-dotenv
langchain-core
langchain-community
langchain-huggingface
langchain-qdrant
langchain-text-splitters
youtube-transcript-api
huggingface-hub
qdrant-client
numpy
tiktoken
uvicorn
fastapi